html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic",
    YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial,
    "メイリオ", Meiryo, sans-serif;
  background-color: #f1fada;
}

header body {
  display: block;
}

#main {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  background-color: #9ad0c2;
  padding: 30px;
}

#logo {
  margin: auto;
  width: 130px;
  height: 130px;
  background-position: center;
  background-size: contain;
  background-image: url("../images/icon2.png");
  border: 2px solid #000;
}

#contact {
}
